*{
margin: 0;
padding: 0;
font-family: cursive;
}
.flex{
position: relative;
width: 100%;
height: 100vh;
background: rgb(1,100,54);
}
nav{
display: flex;
width: 90%;
margin: auto;
padding: 20px 0;
align-items: center;
justify-content: space-between;
}
nav ul li{
display: inline-block;
list-style: none;
margin: 10px 20px;
}
nav ul li a{
text-decoration: none;
color: white;
font-weight: bold;
}
nav ul li a:hover{
color:brown
}
.detel{
margin-left: 8%;
margin-top: 15%;
}
.detel h1{
    font-size: 90px;
    color: rgb(0, 0, 0) ;
    margin-bottom: 20px;
}
span{
    color: aqua;
}
.detel p{
    color: white;
    line-height: 22px;
    font-size: 30px;
}
.detel a{
    background: blue;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.logo{
font-size: 70px;
font-family: cambria;
}
.imagem{
    position: absolute;
top: 35%;
left: 70%;
}













